:root {
  --heading-2xl: 2.25rem;
  --heading-xl: 1.75rem;
  --heading-md: 1.5rem;
  --heading: 1rem;

  --background: 211deg 100% 90%;
  --foreground: 0deg 100% 100%;

  --primary: 291deg 64% 42%;
  --primary-dark: 282deg 68% 38%;

  --secondary: 122deg 77% 42%;

  --gray-50: #f9fafb;
  --gray-100: #f3f4f6;
  --gray-200: #e5e7eb;
  --gray-300: #d1d5db;
  --gray-400: #9ca3af;
  --gray-500: #6b7280;
  --gray-600: #4b5563;
  --gray-700: #374151;
  --gray-800: #1f2937;
  --gray-900: #111827;

  --color-heading: var(--gray-700);
  --color-sub-heading: var(--gray-500);
  --color-em: var(--gray-500);
  --color-link: var(--gray-500);
  --color-input-background: var(--gray-50);
  --color-button: var(--foreground);

  --ring-gap: 4px;
  --ring-width: 2px;
  --ring-color: var(--primary);
  --ring: 0 0 0 var(--ring-gap) hsl(var(--foreground)),
    0 0 0 calc(var(--ring-width) + var(--ring-gap)) hsl(var(--ring-color));

  --shadow-color: 211deg 40% 62%;
  --shadow-elevation-low: 0px 0.4px 0.5px hsl(var(--shadow-color) / 0.27),
    0px 0.7px 0.8px -1.2px hsl(var(--shadow-color) / 0.27),
    0px 1.5px 1.7px -2.5px hsl(var(--shadow-color) / 0.27);
  --shadow-elevation-medium: 0px 0.4px 0.5px hsl(var(--shadow-color) / 0.23),
    0px 1.1px 1.2px -0.6px hsl(var(--shadow-color) / 0.23),
    0px 2px 2.3px -1.2px hsl(var(--shadow-color) / 0.23),
    0px 4px 4.5px -1.9px hsl(var(--shadow-color) / 0.23),
    0px 7.7px 8.7px -2.5px hsl(var(--shadow-color) / 0.23);
  --shadow-elevation-high: 0px 0.4px 0.5px hsl(var(--shadow-color) / 0.21),
    0px 1.7px 1.9px -0.3px hsl(var(--shadow-color) / 0.21),
    0px 3px 3.4px -0.6px hsl(var(--shadow-color) / 0.21),
    0px 4.5px 5.1px -0.8px hsl(var(--shadow-color) / 0.21),
    0px 6.5px 7.3px -1.1px hsl(var(--shadow-color) / 0.21),
    0px 9.4px 10.6px -1.4px hsl(var(--shadow-color) / 0.21),
    -0.1px 13.3px 15px -1.7px hsl(var(--shadow-color) / 0.21),
    -0.1px 18.5px 20.8px -1.9px hsl(var(--shadow-color) / 0.21),
    -0.1px 25.5px 28.7px -2.2px hsl(var(--shadow-color) / 0.21),
    -0.2px 34.3px 38.6px -2.5px hsl(var(--shadow-color) / 0.21);

  --banner-shadow-color: 0deg 0% 68%;
  --banner-shadow-elevation-medium: 0.3px 0.5px 0.4px
      hsl(var(--banner-shadow-color) / 0.81),
    0.8px 1.6px 1.3px -2.5px hsl(var(--banner-shadow-color) / 0.54),
    4.6px 9.3px 7.8px -5px hsl(var(--banner-shadow-color) / 0.27);
}

*:focus:not(:focus-visible) {
  outline: none;
}

html {
  box-sizing: border-box;
  font-family: 'poppins', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  line-height: 1.5;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

html,
body {
  height: 100%;
  background-color: hsl(var(--background));
}

body {
  margin: 0;
  padding: 0;
  font-family: inherit;
  line-height: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-size: inherit;
  font-weight: inherit;
}

[role='button'],
button {
  cursor: pointer;
}

a {
  color: inherit;
  text-decoration: inherit;
}

button,
input,
optgroup,
select,
textarea {
  color: inherit;
  line-height: inherit;
  padding: 0;
}

audio,
canvas,
embed,
iframe,
img,
object,
svg,
video {
  display: block;
  vertical-align: middle;
}

img,
video {
  height: auto;
  max-width: 100%;
}

fieldset {
  outline: none;
  border: none;
  padding: 0;
  margin: 0;
}

fieldset > input {
  width: 100%;
}

ul,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}

[hidden] {
  display: none;
}

.relative {
  position: relative;
}

.absolute {
  position: absolute;
}

.foreground {
  background-color: hsl(var(--foreground));
}

.heading--2xl {
  color: var(--color-heading);
  font-size: var(--heading-2xl);
  font-weight: 500;
}

.heading--xl {
  font-size: var(--heading-xl);
  font-weight: 500;
}

.heading--md {
  font-size: var(--heading-md);
}

.heading {
  font-size: var(--heading);
}

.w-full {
  width: 100%;
}

.h-full {
  height: 100%;
}

.button__icon {
  --stroke: var(--gray-400);
  display: inline-block;
  stroke: var(--stroke);
}

.button__icon--md {
  height: 1.5rem;
  width: 1.5rem;
}

.button__icon--lg {
  height: 1.75rem;
  width: 1.75rem;
}

.button__icon--2xl {
  height: 3rem;
  width: 3rem;
}

.button__icon--spin {
  animation: both spin 1s infinite;
}

.button--bounce {
  animation: both bounce 1s infinite;
}

.container {
  --container-width: 1024px;
  height: 100%;
  width: min(90%, var(--container-width));
  margin: 0 auto;
}

.container--medium {
  --container-width: 512px;
}

.container--small {
  --container-width: 412px;
}

.container__fixed {
  position: fixed;
}

.container__flex {
  display: flex;
}

.container__flex--column {
  flex-direction: column;
}

.container__flex--center {
  justify-content: center;
  align-items: center;
}

.container__flex--justify-center {
  justify-content: center;
}

.container__flex--justify-between {
  justify-content: space-between;
}

.container__flex--align-center {
  align-items: center;
}

.container__flex--align-baseline {
  align-items: baseline;
}

.container__flex--gap-2 {
  gap: 0.5rem;
}

.container__flex--gap-4 {
  gap: 1rem;
}

.container__flex--gap-6 {
  gap: 1.5rem;
}

.container__flex__space--equal > * {
  flex: 1;
}

.container__flex--self-center {
  align-self: center;
}

.container__center {
  padding-top: calc(30vh - var(--heading-2xl) - 2rem);
}

.container__content {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.container__banner {
  position: relative;
  width: 100%;
  padding: 1.5rem;
  border-radius: 12px;
  box-shadow: var(--shadow-elevation-medium);
}

.container__link {
  color: var(--color-link);
  width: fit-content;
}

.container__link--end {
  align-self: flex-end;
}

.container__link--active > li {
  box-shadow: var(--ring);
}

.container__link--md {
  font-size: 1.125rem;
}

.container__link--new {
  color: var(--color-link);
}

.container__link--back {
  color: var(--color-link);
  position: absolute;
  display: flex;
  align-items: center;
  column-gap: 8px;
  top: -44px;
}

.container__link--new:focus-visible,
.container__link--back:focus-visible {
  border-radius: 4px;
  box-shadow: var(--ring);
}

.container__link--new > svg,
.container__link--back > svg {
  transition: transform 300ms cubic-bezier(0.42, 0.9, 0.7, 0.77);
}

.container__link--new:hover > svg {
  transform: rotateZ(90deg);
}

.container__link--back:hover > svg {
  transform: translateX(25%);
}

.container__list__element {
  display: flex;
}

.container__list__element img {
  height: 36px;
  width: 36px;
}

.fixed__wrapper {
  width: 250px;
}

@keyframes bounce {
  0%,
  100% {
    transform: translateX(-15%);
    animation-timing-function: cubic-bezier(0.86, 0, 0.07, 1);
  }

  50% {
    transform: translateX(10%);
    animation-timing-function: cubic-bezier(0.445, 0.05, 0.55, 0.95);
  }
}

@keyframes spin {
  from {
    transform: rotate(360deg);
  }

  to {
    transform: rotate(0);
  }
}
