.container__img__wrapper {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: hsl(var(--foreground));
  padding: 1rem;
  border-radius: 9999px;
  box-shadow: var(--banner-shadow-elevation-medium);
}

.container__form__wrapper {
  padding: 64px 36px 0;
}

label {
  color: var(--color-sub-heading);
  font-size: 1rem;
}

input {
  border: none;
  outline: none;
  background-color: var(--color-input-background);
  color: var(--color-heading);
  padding: 16px 12px;
  font-size: 1.35rem;
  border-radius: 12px;
}

input:active,
input:focus {
  box-shadow: var(--ring);
}

button {
  background-color: hsl(var(--secondary));
  border: 0;
  outline: 0;
  padding: 12px 8px;
  color: hsl(var(--color-button));
  font-size: 1.35rem;
  border-radius: 12px;
}

button:active,
button:focus {
  box-shadow: var(--ring);
}
