ul {
  padding-bottom: 24px;
}

li {
  background-color: hsl(var(--foreground));
  padding: 12px 16px;
  box-shadow: var(--shadow-elevation-medium);
  border-radius: 12px;
}

a {
  display: block;
}

a:focus,
a:focus-visible {
  outline: none;
}

a:focus-visible > li {
  box-shadow: var(--ring);
}

li h3 {
  font-weight: 500;
  color: var(--color-sub-heading);
}

li em {
  color: var(--color-em);
}

a + a {
  margin-top: 1rem;
}
